# Python
AOS/administer_app_server.egg-info/
administer_aos.egg-info/
__pycache__/
uv.lock
.venv/
build/
dist/

# Administer Config
._config.json

# Plugin config files
AOS/plugins/FeedbackAssistant/config/FeedbackAssistant.json

# Static Compiled CSS 
AOS/plugins/core/admin/static/css
